In [1]:
print("hello Lateef")

hello Lateef

In [2]:
a = "AZHAR "
b = "UR " 
c = "RAHMAN "

In [3]:
name = a + b + c
print(name)

AZHAR UR RAHMAN

In [4]:
a = input("Enter your name ") 
b = input("Enter your Class")
print(a)
print(b)

Enter your name
Enter your Class

In [5]:
import numpy as np

In [6]:
np.random.randn()

0.39491990331991006

In [10]:
import pandas as pd
from pandas import Series, DataFrame

In [15]:
obj=pd.Series([4,8,3,2,231,3,45,56,8,1])
obj

0      4
1      8
2      3
3      2
4    231
5      3
6     45
7     56
8      8
9      1
dtype: int64

In [16]:
obj.values

array([  4,   8,   3,   2, 231,   3,  45,  56,   8,   1], dtype=int64)

In [17]:
obj.index

RangeIndex(start=0, stop=10, step=1)

In [22]:
pd.Series(['Syllbus','words meaning','question answers'],index=['16_april_19','18_april_19','20_sep_19'])

16_april_19             Syllbus
18_april_19       words meaning
20_sep_19      question answers
dtype: object

In [23]:
what is atom? = atom is a somllest part of element

SyntaxError: invalid syntax (<ipython-input-23-654912874008>, line 1)

In [25]:
azhar=np.exp(obj)
azhar

0     5.459815e+01
1     2.980958e+03
2     2.008554e+01
3     7.389056e+00
4    2.099062e+100
5     2.008554e+01
6     3.493427e+19
7     2.091659e+24
8     2.980958e+03
9     2.718282e+00
dtype: float64

In [26]:
print(azhar)
print(obj)

0     5.459815e+01
1     2.980958e+03
2     2.008554e+01
3     7.389056e+00
4    2.099062e+100
5     2.008554e+01
6     3.493427e+19
7     2.091659e+24
8     2.980958e+03
9     2.718282e+00
dtype: float64
0      4
1      8
2      3
3      2
4    231
5      3
6     45
7     56
8      8
9      1
dtype: int64

In [27]:
6 in obj

True

In [28]:
13 in obj

False

In [48]:
fruite = {'apple':200,'banana':50,'orange':80,'juava':60,'stabory':250}
pd.Series(fruite)

apple      200
banana      50
orange      80
juava       60
stabory    250
dtype: int64

In [46]:
vetetables = {'ginger':240,'carrot':30,'chili':120,'onion':60,'patato':45}
pd.Series(vetetables)

ginger    240
carrot     30
chili     120
onion      60
patato     45
dtype: int64

In [41]:
dryfruite ={'almond':1120,'akrot':500,'pashta':1400,'penut':480,'kaju':500}

In [42]:
mart = {'fruite':fruite,'vetetables':vetetables,'dryfruite':dryfruite}
mart

{'fruite': {'apple': 200,
  'banana': 50,
  'orange': 80,
  'juava': 60,
  'stabory': 250},
 'vetetables': {'ginger': 240,
  'carrot': 30,
  'chili': 120,
  'onion': 60,
  'patato': 45},
 'dryfruite': {'almond': 1120,
  'akrot': 500,
  'pashta': 1400,
  'penut': 480,
  'kaju': 500}}

In [50]:
sp=pd.DataFrame(mart)
sp

         fruite  vetetables  dryfruite
apple     200.0         NaN        NaN
banana     50.0         NaN        NaN
orange     80.0         NaN        NaN
juava      60.0         NaN        NaN
stabory   250.0         NaN        NaN
ginger      NaN       240.0        NaN
carrot      NaN        30.0        NaN
chili       NaN       120.0        NaN
onion       NaN        60.0        NaN
patato      NaN        45.0        NaN
almond      NaN         NaN     1120.0
akrot       NaN         NaN      500.0
pashta      NaN         NaN     1400.0
penut       NaN         NaN      480.0
kaju        NaN         NaN      500.0

In [52]:
sp.T

            apple  banana  orange  juava  stabory  ginger  carrot  ...  onion  patato  almond  akrot  pashta  penut   kaju
fruite      200.0    50.0    80.0   60.0    250.0     NaN     NaN  ...    NaN     NaN     NaN    NaN     NaN    NaN    NaN
vetetables    NaN     NaN     NaN    NaN      NaN   240.0    30.0  ...   60.0    45.0     NaN    NaN     NaN    NaN    NaN
dryfruite     NaN     NaN     NaN    NaN      NaN     NaN     NaN  ...    NaN     NaN  1120.0  500.0  1400.0  480.0  500.0

[3 rows x 15 columns]

In [55]:
sp.sum

<bound method DataFrame.sum of          fruite  vetetables  dryfruite
apple     200.0         NaN        NaN
banana     50.0         NaN        NaN
orange     80.0         NaN        NaN
juava      60.0         NaN        NaN
stabory   250.0         NaN        NaN
ginger      NaN       240.0        NaN
carrot      NaN        30.0        NaN
chili       NaN       120.0        NaN
onion       NaN        60.0        NaN
patato      NaN        45.0        NaN
almond      NaN         NaN     1120.0
akrot       NaN         NaN      500.0
pashta      NaN         NaN     1400.0
penut       NaN         NaN      480.0
kaju        NaN         NaN      500.0>

In [56]:
sp.cumsum

<bound method DataFrame.cumsum of          fruite  vetetables  dryfruite
apple     200.0         NaN        NaN
banana     50.0         NaN        NaN
orange     80.0         NaN        NaN
juava      60.0         NaN        NaN
stabory   250.0         NaN        NaN
ginger      NaN       240.0        NaN
carrot      NaN        30.0        NaN
chili       NaN       120.0        NaN
onion       NaN        60.0        NaN
patato      NaN        45.0        NaN
almond      NaN         NaN     1120.0
akrot       NaN         NaN      500.0
pashta      NaN         NaN     1400.0
penut       NaN         NaN      480.0
kaju        NaN         NaN      500.0>